@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    Paste your meta data here:
    <textarea id="txtScript" rows="2" onchange="parseScript()"></textarea>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">DTO</div>
                <div class="panel-body" id="classDTO"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Create table</div>
                <div class="panel-body" id="selectInsert"></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Select Insert statements</div>
                <div class="panel-body" id="createTable"></div>
            </div>
        </div>
    </div>
</div>
    @section Scripts
        {
        <script>
            function parseScript() {
                var txtScript = document.getElementById('txtScript');
                var xmlhttp = new XMLHttpRequest();
                var url = "/?handler=Class";
                var param = "script=" + encodeURI(txtScript.value);

                xmlhttp.open("POST", url, true);
                xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var classMeta = JSON.parse(this.responseText);
                        handeClassMetaData(classMeta);
                    }
                };
                xmlhttp.send(param);
            }

            function handeClassMetaData(classMeta) {
                var classDTO = document.getElementById('classDTO'),
                    createTable = document.getElementById('createTable'),
                    selectInsert = document.getElementById('selectInsert');

                classDTO.innerHTML = templateCreateClass(classMeta);
                selectInsert.innerHTML = templateSelectInsert(classMeta);
                createTable.innerHTML = templateCreateTable(classMeta);
            }

            function templateCreateClass(classMeta) {
                var s = [],
                    lf = '<br>',
                    tab = '&nbsp;&nbsp;&nbsp;&nbsp;';
                s.push('public class ' + classMeta.name);
                s.push(lf);
                s.push('{' + lf)
                for (var i = 0; i < classMeta.properties.length; i++) {
                    s.push(tab + 'public ');
                    s.push(classMeta.properties[i].type + ' ');
                    s.push(classMeta.properties[i].name);
                    s.push(' { get; set; }' + lf)
                }
                s.push('}' + lf)
                return s.join('');
            }

            function templateSelectInsert(classMeta) {
                var s = [],
                    lf = '<br>',
                    toSelectString = function (p) {
                        switch (p.type) {
                            case "string":
                                return "''' + " + p.name + " + '''";
                            case "DateTime":
                                return "''' + CONVERT(varchar, " + p.name + ", 127) + '''";
                            default:
                                return "' + CONVERT(varchar, " + p.name + ") + '";
                        }
                    };
                s.push("SELECT 'INSERT INTO " + classMeta.name + " (");
                for (var i = 0; i < classMeta.properties.length; i++) {
                    s.push(classMeta.properties[i].name);
                    if (i + 1 < classMeta.properties.length)
                        s.push(', ');
                }
                s.push(")'" + lf + "+ ' VALUES (");
                for (var i = 0; i < classMeta.properties.length; i++) {
                    s.push(toSelectString(classMeta.properties[i]));
                    if (i + 1 < classMeta.properties.length)
                        s.push(', ');
                }
                s.push(")'" + lf + "FROM " + classMeta.name);

                return s.join('');
            }

            function templateCreateTable(classMeta) {
                var s = [],
                    lf = '<br>',
                    tab = '&nbsp;&nbsp;&nbsp;&nbsp;',
                    defaultValue = function (p) {
                        switch (p.type) {
                            case "long":
                                return "0";
                            case "int":
                                return "0";
                            case "short":
                                return "0";
                            case "byte":
                                return "0";
                            case "bool":
                                return "0";
                            case "string":
                                return "''";
                            case "byte[]":
                                return "''";
                            case "Guid":
                                return "NewId()";
                            case "DateTime":
                                return "CONVERT(datetime, '19000101')";
                            case "decimal":
                                return "0.0";
                            default:
                                return "";
                        }
                    },
                    sqlServerType = function (p) {
                        switch (p.type) {
                            case "long":
                                return "bigint";
                            case "int":
                                return "int";
                            case "short":
                                return "smallint";
                            case "byte":
                                return "tinyint";
                            case "bool":
                                return "bit";
                            case "string":
                                return "nvarchar(" + p.length + ")";
                            case "byte[]":
                                return "varbinary(max)";
                            case "Guid":
                                return "uniqueidentifier";
                            case "DateTime":
                                return "datetime";
                            case "decimal":
                                return "decimal(" + p.length + "," + p.precision + ")";
                            default:
                                return "void";
                        }
                    };
                s.push("CREATE TABLE " + classMeta.name + " (" + lf);
                for (var i = 0; i < classMeta.properties.length; i++) {
                    s.push(tab);
                    s.push(classMeta.properties[i].name);
                    s.push(' ');
                    s.push(sqlServerType(classMeta.properties[i]));
                    if (classMeta.properties[i].nullable === false) {
                        s.push(' NOT NULL DEFAULT ' + defaultValue(classMeta.properties[i]));
                    }
                    if (i + 1 < classMeta.properties.length)
                        s.push(',' + lf);
                }
                s.push(")" + lf);
                return s.join('');
            }



        </script>
    }
